{{!

    BLOG COVER
    - Configuration of this file is not required.

}}

    {{#if @site.cover_image}}
        <div id="cover" class="cover post indexfeature featured">
            <div class="background" style="background-image: url('{{@site.cover_image}}');"></div>
            <header class="wrapper">
                {{#if @site.logo}}<img src="{{@site.logo}}" class="profileimage" alt="{{@site.title}}">{{/if}}
                <p>{{@site.description}}</p>
            </header>
            <i class="fa fa-chevron-down movedown"></i>
        </div>
    {{/if}}
