{{! 
	
	BLOG PROFILE
	- Configuration of this file is not required. 

}}

	<div class="profile">
		{{#if @site.logo}}<img src="{{@site.logo}}" class="profileimage" alt="user">{{/if}}
		<h4>{{@site.title}}</h4>
		<p>{{@site.description}}</p>
		<hr>
	</div>
